get data

In [1]:
ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer', 'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter', 'servant', 'farmer', 'weaver', 'servant', 'carpenter']

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

In [3]:
ages

[45,
 23,
 16,
 34,
 64,
 28,
 42,
 31,
 27,
 38,
 17,
 52,
 29,
 44,
 33,
 15,
 61,
 36,
 18,
 41]

In [5]:
occupations

['farmer',
 'servant',
 'laborer',
 'merchant',
 'farmer',
 'servant',
 'teacher',
 'farmer',
 'laborer',
 'merchant',
 'servant',
 'farmer',
 'laborer',
 'blacksmith',
 'carpenter',
 'servant',
 'farmer',
 'weaver',
 'servant',
 'carpenter']

In [7]:
birth_places

['Ireland',
 'Ireland',
 'New York',
 'England',
 'Ireland',
 'Germany',
 'New York',
 'Ireland',
 'Ireland',
 'Scotland',
 'Ireland',
 'England',
 'Ireland',
 'Wales',
 'Ireland',
 'Ireland',
 'Scotland',
 'Ireland',
 'Germany',
 'Ireland']

In [29]:
print(f"The length of the ages list is {len(ages)}")

The length of the ages list is 20

In [13]:
len(occupations)

20

In [15]:
len(birth_places)

20

In [19]:
occupations[0:5]

['farmer', 'servant', 'laborer', 'merchant', 'farmer']

In [31]:
from collections import Counter
Counter(occupations)

Counter({'farmer': 5,
         'servant': 5,
         'laborer': 3,
         'merchant': 2,
         'carpenter': 2,
         'teacher': 1,
         'blacksmith': 1,
         'weaver': 1})

In [33]:
Counter(ages)

Counter({45: 1,
         23: 1,
         16: 1,
         34: 1,
         64: 1,
         28: 1,
         42: 1,
         31: 1,
         27: 1,
         38: 1,
         17: 1,
         52: 1,
         29: 1,
         44: 1,
         33: 1,
         15: 1,
         61: 1,
         36: 1,
         18: 1,
         41: 1})

In [35]:
Counter(birth_places)

Counter({'Ireland': 11,
         'New York': 2,
         'England': 2,
         'Germany': 2,
         'Scotland': 2,
         'Wales': 1})

In [37]:
for number, occupation in enumerate(occupations):
    print(f"Person #{number}: {occupation}")

Person #0: farmer
Person #1: servant
Person #2: laborer
Person #3: merchant
Person #4: farmer
Person #5: servant
Person #6: teacher
Person #7: farmer
Person #8: laborer
Person #9: merchant
Person #10: servant
Person #11: farmer
Person #12: laborer
Person #13: blacksmith
Person #14: carpenter
Person #15: servant
Person #16: farmer
Person #17: weaver
Person #18: servant
Person #19: carpenter

In [39]:
for number, age in enumerate(ages):
    print(f"Person #{number}: {age}")

Person #0: 45
Person #1: 23
Person #2: 16
Person #3: 34
Person #4: 64
Person #5: 28
Person #6: 42
Person #7: 31
Person #8: 27
Person #9: 38
Person #10: 17
Person #11: 52
Person #12: 29
Person #13: 44
Person #14: 33
Person #15: 15
Person #16: 61
Person #17: 36
Person #18: 18
Person #19: 41

In [41]:
for number, birth_place in enumerate(birth_places):
    print(f"Person #{number}: {birth_place}")

Person #0: Ireland
Person #1: Ireland
Person #2: New York
Person #3: England
Person #4: Ireland
Person #5: Germany
Person #6: New York
Person #7: Ireland
Person #8: Ireland
Person #9: Scotland
Person #10: Ireland
Person #11: England
Person #12: Ireland
Person #13: Wales
Person #14: Ireland
Person #15: Ireland
Person #16: Scotland
Person #17: Ireland
Person #18: Germany
Person #19: Ireland

In [43]:
skilled_laborers = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_laborers.append(occupation)
print(f"Number of skilled laborers: {len(skilled_laborers)}")

Number of skilled laborers: 4

In [47]:
united_kingdom = []
for place in birth_places:
    if place == 'England' or place == 'Wales' or place == 'Ireland':
        united_kingdom.append(place)
print(f"Number of people in UK: {len(united_kingdom)}")

Number of people in UK: 14

In [49]:
youngsters = []
for age in ages:
    if age < 30:
        youngsters.append(occupation)
print(f"Number of youngsters: {len(youngsters)}")

Number of youngsters: 8

In [51]:
skilled_unskilled = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_unskilled.append("skilled laborer")
    elif occupation == 'laborer' or occupation == 'servant' or occupation == 'farmer':
        skilled_unskilled.append("unskilled laborer")
    else:
        skilled_unskilled.append("other")
Counter(skilled_unskilled)

Counter({'unskilled laborer': 13, 'skilled laborer': 4, 'other': 3})