creating a dictionary

In [2]:
# Create a dictionary mapping names to ages
ages_dict = {
    "Patrick Murphy": 45,
    "Mary Kelly": 23,
    "Thomas Williams": 16,
    "Elizabeth Smith": 34
}

# Print the entire dictionary
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34}

In [3]:
# Get Patrick's age using his name as the key
patricks_age = ages_dict["Patrick Murphy"]
print(f"Patrick Murphy is {patricks_age} years old.")

Patrick Murphy is 45 years old.

Below is a list of some famous celebrities and their ages (as of 2025):

Taylor Swift, 35
Olivia Rodrigo, 22
Tom Hanks, 68
Meryl Streep, 75
Create a dictionary called celebrity_ages that uses each celebrityâ€™s name as a key and their age as the value. Then:

Print the entire dictionary
Print Zendayaâ€™s age

In [5]:
celebrity_ages = {
    "Taylor Swift": 35,
    "Olivia Rodrigo": 22,
    "Tom Hanks": 69,
    "Meryl Streep": 75
}

print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 69, 'Meryl Streep': 75}

In [6]:
olivias_age = celebrity_ages["Olivia Rodrigo"]
print(olivias_age)

22

In [7]:
print(f"Olivia Rodrigo is {olivias_age} years old.")

Olivia Rodrigo is 22 years old.

In [8]:
# Add a new person to our ages dictionary
ages_dict["Michael Sullivan"] = 64
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34, 'Michael Sullivan': 64}

In [9]:
# Change someone's age
ages_dict["Thomas Williams"] = 17  # Thomas just had a birthday!
print(f"Updated age for Thomas: {ages_dict['Thomas Williams']}")

Updated age for Thomas: 17

Practice: Modifying Your DictionaryPermalink
Add one new entry to your celebrity dictionary of any celebrity you want with their age
Change the age of one celebrity from your dictionary
Print the updated dictionary

In [11]:
celebrity_ages["David Lynch"] = 78

In [12]:
print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 69, 'Meryl Streep': 75, 'David Lynch': 78}

In [13]:
celebrity_ages["Taylor Swift"] = 36

In [14]:
print(celebrity_ages)

{'Taylor Swift': 36, 'Olivia Rodrigo': 22, 'Tom Hanks': 69, 'Meryl Streep': 75, 'David Lynch': 78}

In [15]:
# Loop through all names and ages
for name in ages_dict:
    print(f"{name} is {ages_dict[name]} years old.")

# A more elegant way using the .items() method
for name, age in ages_dict.items():
    print(f"{name} is {age} years old.")

Patrick Murphy is 45 years old.
Mary Kelly is 23 years old.
Thomas Williams is 17 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.
Patrick Murphy is 45 years old.
Mary Kelly is 23 years old.
Thomas Williams is 17 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.

In [16]:
# Find all people over 30
for name, age in ages_dict.items():
    if age > 30:
        print(f"{name} is {age} years old.")

Patrick Murphy is 45 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.

Practice: Printing Age CohortsPermalink
Use the .items() method to loop through your dictionary of celebrities. Use a series of if and elif conditionals to print out, for each celebrity, which age cohort they fall in:

Gen Z: 13-28
Millenial: 29-44
Boomer: 61-79

In [18]:
for name, age in celebrity_ages.items():
    if age > 13 and age < 28:
        print(f"{name} is Gen Z.")
    elif age > 29 and age < 44 :
        print(f"{name} is a Millenial.")
    elif age > 61 and age < 79:
        print(f"{name} is a Boomer.")

Taylor Swift is a Millenial.
Olivia Rodrigo is Gen Z.
Tom Hanks is a Boomer.
Meryl Streep is a Boomer.
David Lynch is a Boomer.

In [19]:
# Create one dictionary with all information about each person
census_data = {
    "Patrick Murphy": {
        "age": 45,
        "birth_place": "Ireland",
        "occupation": "farmer"
    },
    "Mary Kelly": {
        "age": 23,
        "birth_place": "Ireland",
        "occupation": "servant"
    },
    "Thomas Williams": {
        "age": 17,
        "birth_place": "Wales",
        "occupation": "laborer"
    },
    "Elizabeth Smith": {
    "age": 34,
    "birth_place": "England",
    "occupation": "servant"
    }
}

In [20]:
# Access data from our nested dictionary
print(census_data["Patrick Murphy"])
print(census_data["Patrick Murphy"]["occupation"])

{'age': 45, 'birth_place': 'Ireland', 'occupation': 'farmer'}
farmer

In [38]:
# Here are our lists of data
names = ["Patrick Murphy", "Mary Kelly", "Thomas Williams", "Elizabeth Smith", "Michael Sullivan",
         "Anna Schmidt", "William Johnson", "James O'Connor", "Bridget Walsh", "Robert Campbell",
         "Catherine Miller", "George Thompson", "Sean O'Neill", "David Jones", "Kevin Burke",
         "Margaret Wilson", "Donald Fraser", "Eileen Doyle", "Frieda Weber", "Timothy Ryan"]

ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer',
              'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter',
              'servant', 'farmer', 'weaver', 'servant', 'carpenter']

In [40]:
# Start with an empty dictionary
auto_census = {}

# Loop through the lists to create our nested dictionary
for i in range(len(names)):
    # Extract the data for this person and temporarily put the data into a series of variables
    name = names[i]
    age = ages[i]
    birth_place = birth_places[i]
    occupation = occupations[i]

    # Create the nested dictionary for this person
    auto_census[name] = {
        "age": age,
        "birth_place": birth_place,
        "occupation": occupation
    }

In [42]:
auto_census

{'Patrick Murphy': {'age': 45,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Mary Kelly': {'age': 23, 'birth_place': 'Ireland', 'occupation': 'servant'},
 'Thomas Williams': {'age': 16,
  'birth_place': 'New York',
  'occupation': 'laborer'},
 'Elizabeth Smith': {'age': 34,
  'birth_place': 'England',
  'occupation': 'merchant'},
 'Michael Sullivan': {'age': 64,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Anna Schmidt': {'age': 28,
  'birth_place': 'Germany',
  'occupation': 'servant'},
 'William Johnson': {'age': 42,
  'birth_place': 'New York',
  'occupation': 'teacher'},
 "James O'Connor": {'age': 31,
  'birth_place': 'Ireland',
  'occupation': 'farmer'},
 'Bridget Walsh': {'age': 27,
  'birth_place': 'Ireland',
  'occupation': 'laborer'},
 'Robert Campbell': {'age': 38,
  'birth_place': 'Scotland',
  'occupation': 'merchant'},
 'Catherine Miller': {'age': 17,
  'birth_place': 'Ireland',
  'occupation': 'servant'},
 'George Thompson': {'age': 52,
  'birth_place': 'England',
  'occupation': 'farmer'},
 "Sean O'Neill": {'age': 29,
  'birth_place': 'Ireland',
  'occupation': 'laborer'},
 'David Jones': {'age': 44,
  'birth_place': 'Wales',
  'occupation': 'blacksmith'},
 'Kevin Burke': {'age': 33,
  'birth_place': 'Ireland',
  'occupation': 'carpenter'},
 'Margaret Wilson': {'age': 15,
  'birth_place': 'Ireland',
  'occupation': 'servant'},
 'Donald Fraser': {'age': 61,
  'birth_place': 'Scotland',
  'occupation': 'farmer'},
 'Eileen Doyle': {'age': 36, 'birth_place': 'Ireland', 'occupation': 'weaver'},
 'Frieda Weber': {'age': 18,
  'birth_place': 'Germany',
  'occupation': 'servant'},
 'Timothy Ryan': {'age': 41,
  'birth_place': 'Ireland',
  'occupation': 'carpenter'}}